  .menu-link {
    color: #FFAE00;
    font-weight: bold;
    transition: all 0.3s ease;
    text-shadow: 0 0 0px #FFAE00;
  }

  .menu-link:hover {
    color: #fff;
    text-shadow: 0 0 8px #FFAE00, 0 0 12px #FFAE00, 0 0 16px #FFAE00;
  }

  /* Espaçamento maior no mobile */
  @media (max-width: 991px) {
    .navbar-nav {
      flex-direction: column;
      align-items: center;
    }

    .navbar-nav .nav-item {
      margin: 15px 0;
    }
  }

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1; /* para ficar acima dos símbolos */
}

.center-text h1 {
    font-size: 3rem;
    margin: 0;
}

.center-text p {
    margin: 0;
}
