.section-contact {
    background-color: rgb(41, 41, 41);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.contact-header {
    padding: 30px 250px 0;
}

.contact-title {
    opacity: 0;
    color: rgb(255, 174, 0);
    transform: translateY(30px);
    transition: all 0.6s ease;
}

.contact-title.show {
    opacity: 1;
    transform: translateY(0);
}

.contact-hr {
    border: none;
    height: 1px;
    width: 0%;
    background-color: rgb(85, 85, 85);
    margin: 10px 0 30px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease;
}

.contact-hr.show {
    opacity: 1;
    width: 100%;
    transform: translateY(0);
}

@media (max-width: 1300px) {
    .contact-header {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.contact-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1;
    margin: 30px 0;
}

.contact-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.contact-link:hover {
    text-decoration: none;
}

.contact-card {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 15px;
    padding: 20px;
    width: 100px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid rgba(39, 39, 39, 0.1);
    cursor: pointer;
    transition: all 0.3s ease, box-shadow 0.4s ease, transform 0.3s ease, opacity 0.6s ease;
    opacity: 0;
    transform: translateY(20px);
}

.contact-card.email:hover {
    background: linear-gradient(135deg, #D44638, #FF6F61);
    box-shadow: 0 0 20px #D44638, 0 0 40px #FF6F61;
}

.contact-card.github:hover {
    background: linear-gradient(135deg, #333333, #6e5494);
    box-shadow: 0 0 20px #333333, 0 0 40px #6e5494;
}

.contact-card.linkedin:hover {
    background: linear-gradient(135deg, #0077B5, #00A0DC);
    box-shadow: 0 0 20px #0077B5, 0 0 40px #00A0DC;
}

.contact-card.phone:hover {
    background: linear-gradient(135deg, #4CAF50, #81C784);
    box-shadow: 0 0 20px #4CAF50, 0 0 40px #81C784;
}

.contact-card.whatsapp:hover {
    background: linear-gradient(135deg, #25D366, #128C7E);
    box-shadow: 0 0 20px #25D366, 0 0 40px #128C7E;
}

.contact-card:hover {
    transform: translateY(-15px);
}

.contact-card.show {
    opacity: 1;
    transform: translateY(0);
}
