.projects-section {
    background-color: rgb(41, 41, 41);
    color: white;
}

.projects-title {
    color: rgb(255, 174, 0);
    padding-top: 100px;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.4s ease 0.8s forwards;
}

.projects-hr {
    margin-bottom: 20px;
}

.project-card {
    position: relative;
    width: 45%;
    margin: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease, border 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    opacity: 0;
    transform: translateY(30px);
}

.project-card:hover {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.project-card-img {
    opacity: 0;
    height: 350px;
    border-radius: 15px;
}

.project-card hr {
    width: 0;
    opacity: 0;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    transform-origin: left;
}

.project-card-title {
    color: rgb(255, 174, 0);
    opacity: 0;
    transform: translateY(20px);
}

.project-card-desc {
    opacity: 0;
    transform: translateY(20px);
}

.btn-project {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
}

.btn-project:hover {
    background: rgba(75, 75, 75, 0.3);
}

.project-card.animate {
    animation: cardFadeIn 0.4s ease forwards;
}

.project-card.animate .project-card-img {
    animation: fadeIn 0.4s ease forwards;
    animation-delay: 0.2s;
}

.project-card.animate hr {
    animation: hrGrow 0.4s ease forwards;
    animation-delay: 0.4s;
}

.project-card.animate .project-card-title {
    animation: fadeUp 0.4s ease forwards;
    animation-delay: 0.8s;
}


.project-card.animate .project-card-desc {
    animation: fadeUp 0.4s ease forwards;
    animation-delay: 1s;
}

.project-card.animate .btn-project {
    animation: fadeUp 0.4s ease forwards;
    animation-delay: 1.2s;
}

@media (max-width: 1300px) {
    .project-card {
        width: 95%;
        height: 400px;
    }
    .project-card-img {
        display: none;
    }
}

@keyframes cardFadeIn {
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeIn {
    to { opacity: 1; }
}

@keyframes fadeUp {
    to { opacity: 1; transform: translateY(0); }
}

@keyframes hrGrow {
    to { width: 100%; opacity: 1; }
}
