@font-face {
    font-family: 'MontSerrat';
    src: url('/assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}
  
body {
    font-family: 'MontSerrat', sans-serif;
}

.title {
    font-weight: bold; 
    color: #006394;
}

.text {
    line-height: 2; 
    font-size: 17px;
    color: grey;
}


.div-grey {
    background-color: #EFEFEF;
}

.floating-symbols {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Não atrapalha cliques */
  overflow: hidden;
  z-index: 0; /* Fica atrás de tudo */
}

.floating-symbols span {
  position: absolute;
  color: rgba(255, 255, 255, 0.07); /* Cor e opacidade */
  font-size: 2rem;
  animation: float 15s linear infinite;
  white-space: nowrap;
}

/* Animação subindo lentamente */
@keyframes float {
  0% {
    transform: translateY(100vh) rotate(0deg);
    opacity: 0;
  }
  10% { opacity: 0.2; }
  50% { opacity: 0.15; }
  90% { opacity: 0.2; }
  100% {
    transform: translateY(-10vh) rotate(360deg);
    opacity: 0;
  }
}


/* --------- BOTÃO --------- */

.button-rouded {
    background-color: #002D9C;
    border: none;
    width: 200px;
    border-radius: 17px;
    transition: transform 0.3s ease-in-out;
}

.button-rouded.header {
    border-radius: 20px;
    width: 100px;
    height: 40px;
    font-size: 14px;
    transition: transform 0.3s ease-in-out;
}

.button-rouded:hover {
    background-color: #002D9C;
    border: 2px solid white;
    transform: translateY(-10px);
}

.button-rouded.header:hover {
    border-radius: 20px;
    width: 100px;
    font-size: 14px;
    transform: none;
}

/* --------- BOTÃO WHATS APP --------- */

.button-whats-app {
    width: 60px;
    height: 60px;
    border-radius: 360px;
    background-color: #25d366;
    border: none;
}

@media (max-width: 980px) {
    .button-whats-app {
        display: none;
    }
}

.button-whats-app:hover {
    border: 2px solid white;
    background-color: #25d366;
}

/* --------- HEADER --------- */

.header {
    color: white;
    border-bottom: 0.2px solid #CCCCCC;
    backdrop-filter: blur(20px);
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
}

.header.scrolled {
    background-color: #002D9C;
}

/* --------- HOME --------- */

.image-header {
    height: 100vh;
    background: linear-gradient(to bottom, #00084f, #000B94);
}


#texto-digitado {
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    border-right: 2px solid #000;
    animation: digitar 1s steps(40);
}

.cursor {
    display: inline-block;
    width: 10px;
    background-color: black;
    animation: blink 1s infinite;
    vertical-align: bottom;
  }

  @keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
  }

/* --------- ABOUT --------- */

.wave {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("/assets/svg/wave-top.svg");
    background-position: center top;
}

#div-about-me {
    opacity: 0;
    transform: translateX(-30%);
    transition: opacity 0.8s, transform 0.8s;
  }
  
#div-about-me.active {
    opacity: 1;
    transform: translateX(0);
}

#minha-foto {
    display: block;
}

.about {
    padding-top: 200px;
}

.linguages {
    height: 120px;
    width: 100px;
    border-radius: 20px;
    background-color: #EFEFEF;
    opacity: 0;
    transform: translateY(-30%);
    transition: opacity 0.8s, transform 0.8s;
}

.linguages:hover {
    color: #006394;
    font-weight: bold;
    border: 2px solid #006394; 
    box-shadow: 0 5px 10px #CCCCCC;
    transform: translateY(-50px);
}

.linguages.active {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 980px) {
    #minha-foto {
        display: none;
    }
}

/* --------- PROJECTS --------- */

.card-project {
    position: relative;
    margin: 5px;
    border-radius: 5px;
    height: 200px;
    width: 350px;
    overflow: hidden;
    opacity: 0;
    transform: translateX(-30%);
    transition: opacity 0.8s, transform 0.8s;
    transform-style: preserve-3d;
    z-index: 1;
}

.card-project.active {
    opacity: 1;
    transform: translateX(0);
}

.card-project:hover {
    background-color: grey;
    transform: perspective(500px) translateZ(70px);
    z-index: 2;
}

.card-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-project:hover .card-content {
    opacity: 1;
}

.card-project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.3);
}

.card-project:hover img {
    filter: none;
}

.card-project h3, 
.card-project p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 0.3s ease;
}
.card-project:hover h3,
.card-project:hover p {
    opacity: 0;
}

.card-project p {
    opacity: 1;
    top: 65%;
    color: white;
    font-size: 13px;
}

/* --------- EXPERIENCES --------- */

#experiences {
    opacity: 0;
    transition: opacity 0.8s, transform 0.8s;
    transform: translateX(-30%);
}

#experiences.active {
    opacity: 1;
    transform: translateX(0);
}

/* --------- CONTACT --------- */

.title-contact {
    color: grey;
    font-weight: bold;
}

#contact {
    padding-top: 100px;
    padding-bottom: 200px;
    opacity: 0;
    transition: opacity 0.8s, transform 0.8s;
    transform: translateX(-30%);
}

#contact.active {
    opacity: 1;
    transform: translateX(0);
}

.contact-group {
    text-align: center;
    transition: transform 0.2s;
}

.contact-group:hover {
    font-weight: bold;
    color: #002D9C;
    transform: perspective(500px) translateZ(70px);
}

.circle-contact {
    height: 70px;
    width: 70px;
    background-color: #002D9C;
    padding-top: 18px;
    border-radius: 360px;
}


/* --------- ANIMATIONS --------- */

.animate-show-3-sec {
    opacity: 0;
    animation: fadeIn 3s ease-in-out 0s forwards;
}

.animate-show-2-sec {
    opacity: 0;
    animation: fadeIn 1s ease-in-out 0s forwards;
}

.animate-show-up-500-ms {
    animation: aparecerDeBaixoParaCima 500ms ease-out;
}


@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes aparecerDeBaixoParaCima {
    from {
        transform: translateY(20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes aparecerDaDireitaParaEsquerda {
    from {
        transform: translateX(-20%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes digitar {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }